%h1 トップページ
- @posts.each do |post|
  %div.content
    %div.content__left
      %div.content__left--image
    %div.content__right
      %div.content__right__top
      = post.title
      %div.content__right__bottom
        %div.content__right__bottom--date
        = post.created_at
