%h1 トップページ
- @posts.each do |post|
  %div.content
    %div.content__left
      %div.content__left--image
    %div.content__right
      %div.content__right__top
        = link_to post.title, post_path(post.id), class: "content__right__top--title"
      %div.content__right__bottom
        %div.content__right__bottom--userName
          = link_to post.user.nickname, user_path(post.user), class: "content__right__bottom--userName--btn"
        %div.content__right__bottom--date
          = post.created_at
= javascript_include_tag "post.js"

